<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/" />

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="HandheldFriendly" content="true" />

        <title>Avenue Fashion</title>

        <!-- PWA Manifest and Stylesheet -->
        <link rel="manifest" href="<%= BASE_URL %>manifest.json">
        <link rel="stylesheet" href="<%= BASE_URL %>build/default.css">
        <!-- PWA Manifest and Stylesheet -->

        <!-- Page Icons -->
        <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>assets/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>assets/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>assets/icons/favicon-16x16.png">
        <link rel="mask-icon" href="<%= BASE_URL %>assets/icons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="<%= BASE_URL %>assets/icons/favicon.ico">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="msapplication-config" content="<%= BASE_URL %>assets/icons/browserconfig.xml">
        <meta name="theme-color" content="#01c4c4">
        <!-- Page Icons -->
        
        <!-- iOS Splash Screen -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="apple-mobile-web-app-title" content="Avenue Fashion" />

        <link href="<%= BASE_URL %>assets/splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="<%= BASE_URL %>assets/splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="<%= BASE_URL %>assets/splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
        <link href="<%= BASE_URL %>assets/splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
        <link href="<%= BASE_URL %>assets/splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="<%= BASE_URL %>assets/splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
        <link href="<%= BASE_URL %>assets/splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="<%= BASE_URL %>assets/splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="<%= BASE_URL %>assets/splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="<%= BASE_URL %>assets/splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <!-- iOS Splash Screen -->

        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
        <!-- FontAwesome -->

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- Google Fonts -->

        <!-- Modernizr -->
        <script type="text/javascript" src="<%= BASE_URL %>production/modernizr.js"></script>
        <!-- Modernizr -->

    </head>
    <body>
        <noscript>
            <strong>We're sorry but webshop-case-mfd doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app" class="application"></div>
    </body>
</html>
